/* Global */
body {
	background-color: #fff;
	color: #444;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
	color: #444;
}

h1 {
	font-family: 'Crete Round', serif;
	font-weight: bold;
	color: #444;
}

h2 {
	font-weight: 300;
	color: #444;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 30px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h5 {
	font-size: 15px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: green;
}

strong {
	font-weight: bold;
}

small {
	font-size: 13px;
	color: #444;
	font-style: italic;
}

.theme-color{
	color: green;
}

/* Header */
header {
	background-color: #fff;
	height: 120px;
}
.header-cont{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10000;
}
header h1 {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
}

header nav {
	float: right;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 50px;
}

header nav ul li a {
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}

header nav ul li a:hover{
	color: green;
}

/* Hero Image */
#hero-action{
	padding-right: 80px
}
#hero-image {
	height: 580px;
	padding-top: 1px;
	background: #e8eced url('../images/hero.jpg') no-repeat top center fixed;
}

#hero-image h2 {
	margin: 180px 0 40px 0;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.button-1 {
	display: block;
	text-align: center;
	background: #444;
	border-radius: 3px;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto;
}

.button-1:hover {
	background-color: green;
	color: #fff;
}

/* Features */
#features ul {
	margin: 80px 0;
}

#features ul li {
	width: 300px;
	padding-top: 140px;
	float: left;
	margin-right: 10px;
	text-align: center;
}

#features ul li.feature-1 {
	background: url('../images/icon-1.png') no-repeat top center;
	background-color: white;
	background-size: 100px 100px;
}
#features ul li.feature-2 {
	background: url('../images/icon-2.png') no-repeat top center;
	background-color: white;
	background-size: 100px 100px;
}
#features ul li.feature-3 {
	background: url('../images/icon-3.png') no-repeat top center;
	background-color: white;
	background-size: 100px 100px;
}

/* Location */
#primary-content {
	background-color: #f8fafa;
	padding: 60px 0;
	text-align: center;
}

#primary-content h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid green;
	padding: 0 0 20px 0;
}

#primary-content a img {
	margin: 20px 0;
}

/* Beans */
#secondary-content {
	padding: 60px 0;
	text-align: center;
}

#secondary-content article {
	width: 460px;
	height: 270px;
	float: left;
	background-color: #fff;
}

#secondary-content article:first-child {
	margin-right: 20px;
}

#secondary-content article .overlay {
	background: rgba(255, 255, 255, .95);
	height: 230px;
	width: 190px;
	padding: 20px;
}

article h4 {
	border-bottom: 1px solid green;
	padding-bottom: 20px;
}

.more-link {
	border: 1px solid green;
	color: green;
	padding: 6px 20px;
	border-radius: 3px;
}

.more-link:hover {
	background-color: green;
	color: #fff;
}

/* Call to action */
#cta {
	padding: 60px 0;
	text-align: center;
}

#cta h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid green;
	padding: 0 0 20px 0;
}

.button-2 {
	display: block;
	margin: 0 auto;
	border: 2px solid green;
	color: green;
	border-radius: 3px;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}

.button-2:hover {
	background-color: green;
	color: #fff;
}

/* footer */
footer {
	padding: 60px 0;
	background-color: #f8fafa;

}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}
#footer-info a{
	color: #444;
}
#footer-info a:hover{
	color: green;
}
#footer-links {
	width: 520px;
	float: right;
}

#footer-links ul {
	width: 150px;
	float: left;
	margin-left: 20px;
}

#footer-links ul li {
	margin: 10px 0;
}
#footer-links ul li a{
	color: #444;
}
#footer-links ul li a:hover{
	color: green;
}
/* Logo */
.logo-circle{
    width: 240px;
    height: 240px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 4px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    text-align: center;    
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;    
}
.logo-circle:hover,
.logo-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}
#logo{
	padding-top: 15%;
}
#logo-mug{
    position: relative; 
    top: -10px;
}